<section class="Welcome">
    <h1>Welcome to CSE Motors!</h1>
    <img src="/images/vehicles/delorean.jpg" alt="DMC Dolorean">
    <ul>
        <li>3 cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
    </ul>
    <button>Own Today</button>
</section>

<section class="upgrades">
    <h2>Dolorean upgrades</h2>
    <div class="upgrades-grid">
        <div><img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"><p>Flux Capacitor</p></div>
        <div><img src="/images/upgrades/flame.jpg" alt="Flame Decals"><p>Flame Decals</p></div>
        <div><img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker"><p>Bumper Sticker</p></div>
        <div><img src="/images/upgrades/hub-cap.jpg" alt="hub cap"><p>Hub cap</p></div>
    </div>
</section>

<section class="reviews">
    <h2>DMC delorean Reviews</h2>
    <blockquote>"this car changed my life!" ★★★★☆</blockquote>
    <blockquote>"time travel has never been cooler." ★★★★★</blockquote>
    <blockquote>"needs more cups holders." ★★★☆☆</blockquote>
    <blockquote>"Doors make me fell like a superhero." ★★★★☆</blockquote>
    <blockquote>"Bumper Stickers are elite."★★★★☆</blockquote>

</section>